$sans-light-family: opensans-light, Helvetica, Arial, sans-serif;
$sans-regular-family: opensans-regular, Helvetica, Arial, sans-serif;
$sans-bold-family: opensans-bold, Helvetica, Arial, sans-serif;

$phone: "(min-width: 320px)";
$tablet: "(min-width: 660px)";
$desktop: "(min-width: 1200px)";

// http://www.htmlcsscolor.com/hex/e5e5e5
$midnight: #283645;
$white-smoke: #F2F2F2;
$white: #FFF;
$cerise: #D22856;
$sea-green: #2AAB6D;
$black: #000;
$transparent: transparent;
$heather: #b5b9be;
$spindle: #BEC2C7;
$whisper: #e5e5e5;
