@import "global/mixins";
@import "normalize";
@import "variables";
@import "global/fonts";
@import "blocks/page-header";
@import "blocks/navigation";
@import "blocks/btn";
@import "blocks/download";
@import "blocks/intro";
@import "blocks/features";
@import "blocks/review";
@import "blocks/pricing-slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social";
