@import "../variables";
@import "../global/mixins";

.btn {
  @include embed-font($sans-bold-family, 18px, 18px, white);

  display: block;

  padding: 17px 0;

  border: 3px solid white;
  border-radius: 50px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
