@import "../variables";
@import "../global/mixins";

.contacts {
  background-color: $white;
}

.contacts__container {
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__title {
  @include embed-font($sans-light-family, 24px, 29px, $midnight);

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 45px;
  padding-bottom: 40px;

  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__list::after {
  content: "";

  background-image: url("../../img/bg-triangle-white-footer.svg");
}

.contacts__item {
  padding-bottom: 25px;
}

.contacts__item-title {
  @include embed-font($sans-bold-family, 18px, 22px, $midnight);

  margin: 0;
  padding-bottom: 5px;

  font-style: normal;
  text-align: center;
}

.contacts__item-text {
  @include embed-font($sans-light-family, 24px, 29px, $cerise);

  display: block;

  margin: 0;

  text-decoration: none;
  text-align: center;
}

@media #{$tablet} {
  .contacts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__item--tel {
    order: 1;
  }

  .contacts__item--mail {
    order: 2;
  }

  .contacts__item--address {
    order: 3;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__item--full-width {
    width: 100%;
    padding-bottom: 30px;
  }
}

@media #{$desktop} {
  .contacts__container {

    width: 940px;

    margin: 0 auto;
    padding: 0;
  }

  .contacts__item {
    width: 33%;
  }

  .contacts__item--tel {
    order: 1;
  }

  .contacts__item--mail {
    order: 3;
  }

  .contacts__item--address {
    order:2;
  }

  .contacts__item--full-width {
    width: 33%;
  }

  .contacts__title {
    padding: 35px 0 60px 0;

    font-size: 50px;
    line-height: 60px;
  }
}
