@import "../variables";
@import "../global/mixins";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__note {
  @include embed-font($sans-regular-family, 14px, 18px, $midnight);

  display: block;

  margin-right: 15px;
}

.copyright__link {
  display: block;
}

.copyright__link-img {
  display: block;
}

@media #{$desktop} {
  .copyright__note {
    font-size: 18px;
  }
}
