@import "../variables";
@import "../global/mixins";

.download {

  background-color: $midnight;
}

.download__platform-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 35px 0 15px;
  padding: 0;

  list-style: none;
}

.download__platform {
  display: inline-block;

  margin-right: 35px;
}

.download__platform:last-child {
  margin-right: 0;
}

.download__item-link {
  @include embed-font($sans-bold-family, 18px, 18px, $white);

  display: block;

  text-transform: uppercase;
}

.download__description {
  @include embed-font($sans-light-family, 14px, 24px, $white);

  margin-top: 0;
  margin-bottom: 0;
}

@media #{$tablet} {
  .download {
    background-color: $transparent;
  }

  .download__platform-list {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .download__description {
    font-size: 18px;
  }
}


@media #{$desktop} {
  .download__platform-list {
    margin-top: 70px;
    margin-bottom: 50px;
  }
}
