@import "../variables";
@import "../global/mixins";

.download {

  background-color: $midnight;
}

@media #{$tablet} {
  .download {
    background-color: $transparent;
  }
}

.download__platform-list {

  margin: 0;
  padding: 0;

  list-style: none;
}

.download__platform {
  display: inline-block;
}

.download__item-link {
  @include embed-font($sans-bold-family, 18px, 18px, $white);

  display: block;

  text-transform: uppercase;
}

.download__description {
  @include embed-font($sans-light-family, 14px, 24px, $white);

  margin-top: 0;
  margin-bottom: 0;
}
