@import "../variables";
@import "../global/mixins";

.download {
  padding-left: 20px;
  padding-right: 20px;

  background-color: $midnight;
}

.download__platform-list {

  margin: 0;
  padding: 0;

  list-style: none;
}

.download__item-link {
  @include embed-font($sans-bold-family, 18px, 18px, $white);

  display: block;

  text-transform: uppercase;
}

.download__description {
  @include embed-font($sans-light-family, 14px, 24px, $white);

  margin-top: 0;
  margin-bottom: 0;
}
