@import "../variables";
@import "../global/mixins";

.editor-form {
  padding: 45px 20px 45px;
}

.editor-form__tools {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 40px;
  padding-bottom: 15px;
}

.editor-form__controls {
  margin-left: -20px;
  margin-right: -20px;
}

.editor-form__img {
  display: block;

  margin-bottom: 30px;
}

.editor-form__tool {
  margin-bottom: 30px;
}

.editor-form__tool::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;

  margin-left: -20px;
  margin-right: -20px;

  background-color: rgba($black, .1);
  content: "";
}

.editor-form__range {
  display: block;
}

.editor-form__range-control {
  position: absolute;
  left: 0;
  bottom: 25px;

  width: 100%;
  height: 25px;
  background: 0 0;
  border: 0 solid #000;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none
}

.editor-form__range-control:focus {
  outline: none
}

.editor-form__range-control::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #283645;
  border: 0 solid #000;
  border-radius: 0;
  cursor: pointer
}

.editor-form__range-control::-moz-range-track {
  width: 100%;
  height: 2px;
  background: #283645;
  border: 0 solid #000;
  border-radius: 0;
  cursor: pointer
}

.editor-form__range-control::-ms-track {
  width: 100%;
  height: 2px;
  border: 0 solid #000;
  border-radius: 0;
  cursor: pointer;
  background: transparent 0 0;
  color: transparent
}

.editor-form__range-control::-ms-fill-lower, .editor-form__range-control::-ms-fill-upper {
  background: #283645;
  border: none;
  border-radius: 0;
  box-shadow: none
}

.editor-form__range-control:focus::-ms-fill-lower, .editor-form__range-control:focus::-ms-fill-upper {
  background: #283645
}

.editor-form__range-control::-webkit-slider-thumb {
  margin-top: -6px;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none
}

.editor-form__range-control::-webkit-slider-thumb:active, .editor-form__range-control::-webkit-slider-thumb:hover {
  background: #d22856;
  transition-duration: .3s
}

.editor-form__range-control::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer
}

.editor-form__range-control::-moz-range-thumb:active, .editor-form__range-control::-moz-range-thumb:hover {
  background: #d22856;
  transition-duration: .3s
}

.editor-form__range-control::-ms-thumb {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer
}

.editor-form__range-control::-ms-thumb:active, .editor-form__range-control::-ms-thumb:hover {
  background: #d22856;
  transition-duration: .3s
}

.editor-form__range-control--hidden {
  display: none;
}


@media #{$tablet} {
  .editor-form {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    padding: 0 0 0 25px;
  }

  .editor-form__tools {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0 0 auto;
  }

  .editor-form__tool {
    margin-bottom: 0;
  }

  .editor-form__tool::after {
    bottom: auto;

    margin-left: 0;
    margin-right: 0;
  }

  .editor-form__img {
    width: 23px;
    height: 30px;

    margin-left: 25px;
    margin-bottom: 0;
  }

  .editor-form__img--contrast {
    width: 16px;
    height: 16px;
  }

  .editor-form__range {
    display: flex;
    align-items: center;

    padding: 20px 0;
  }

  .editor-form__range-control {
    position: static;

    margin-right: 20px;
    margin-left: 30px;
  }

  .editor-form__range-control--hidden {
    display: block;
  }

  .editor-form__controls {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 20px;
  }

  .editor-form__range--crop {
    padding-top: 5px;
  }
}

@media #{$desktop} {
  .editor-form__img {
    width: 65px;
    height: 65px;
  }

  .editor-form__img--contrast {
    width: 45px;
    height: 45px;
  }

  .editor-form__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
