@import "../variables";
@import "../global/mixins";

.features {
  position: relative;
  margin-bottom: 43px;
  background-color: $white-smoke;
}

.features__container {
  //width: 100%;

  margin: 0 auto;
  padding: 50px 20px 320px;

  text-align: center;
}

.features__container::before {
  position: absolute;

  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 157px;
  height: 280px;

  background: url("../../img/iphone-screen-mobile@1x.png") no-repeat;
  background-size: cover;

  content: "";
}

.features__list {
  position: relative;

  margin: 0;
  padding: 0;

  background-color: $white-smoke;

  list-style: none;
}

.features__item {
  display: block;

  margin-bottom: 30px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item-title {
  @include embed-font($sans-bold-family, 18px, 24px, $black);

  margin-top: 0;
  margin-bottom: 12px;
}

.features__item-description {
  @include embed-font($sans-regular-family, 14px, 24px, $midnight);

  margin-top: 0;
  margin-bottom: 12px;
}

.features__item-link {
  @include embed-font($sans-light-family, 14px, 24px, $cerise);

  margin: 0;

  text-decoration: underline;
}

.features__item--full-width {
  display: none;

  background-color: $white;
}

@media #{$tablet} {
  .features__container {
    padding: 0;
  }

  .features__container::before {
    display: none;
  }

  .features__list {
    padding: 30px 20px 35px 330px;
  }

  .features__list::before {
    position: absolute;

    bottom: -30px;
    left: 40px;

    transform: unset;

    width: 268px;
    height: 485px;

    background: url("../../img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: cover;

    content: "";
  }

  .features__item {
    text-align: left;
  }

  .features__item--full-width {
    position: relative;

    display: block;

    padding: 95px 20px 80px 330px;
  }

  .features__item--full-width .features__item-title {
    font-size: 30px;
    line-height: 36px;
  }
}

@media #{$desktop} {

  .features__container {
    width: 940px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;

    padding: 0 0 20px;

    text-align: center;
  }

  .features__list::before {
    display: none;
  }

  .features__item {
    width: 33%;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 330px;
    margin-top: -50px;

    text-align: center;
  }

  .features__item--full-width {

    width: auto;

    padding-top: 75px;
    padding-bottom: 120px;
    padding-left: 40%;

    margin: 0 auto;

    background-color: $white-smoke;

    text-align: left;
  }
}
