@import "../variables";
@import "../global/mixins";

.form {
  background-color: $white;
}

.form__fields {
  background-color: $white;
}

.form__fields--full-name {
  padding-bottom: 30px;
}

.form__text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__text-field-caption {
  @include embed-font($sans-regular-family, 14px, 30px, $cerise);

  display: block;
  padding-left: 20px;
  padding-bottom: 5px;

  text-transform: uppercase;
}

.form__text-field-input {
  @include embed-font($sans-regular-family, 18px, 22px, $midnight);

  display: block;

  width: 100%;
  height: 60px;

  padding: 10px 10px 10px 20px;
  border: 2px solid $whisper;
  border-radius: 3px;

  box-sizing: border-box;
}

.form__text-field-input::-webkit-input-placeholder {
  color: #283645;
  opacity: 1
}

.form__text-field-input::-moz-placeholder {
  color: #283645;
  opacity: 1
}

.form__text-field-input:-ms-input-placeholder {
  color: #283645;
  opacity: 1
}

.form__text-field-input::placeholder {
  color: #283645;
  opacity: 1
}

.form__fields--achievements {

  margin-left: -20px;
  margin-right: -20px;
  padding: 35px 20px 60px 20px;

  background-color: $white-smoke;
}

.form__legend {
  @include embed-font($sans-regular-family, 14px, 18px, $cerise, normal);

  margin: 0;
  padding-bottom: 20px;

  text-transform: uppercase;
  text-align: center;
}

.form__legend--hidden {
  display: none;
}

.form__checkbox {
  display: block;

  padding-top: 20px;
  padding-bottom: 20px;
}

.form__checkbox-input {
  display: none;
}

.form__checkbox-caption {
  @include embed-font($sans-regular-family, 18px, 30px, $midnight);

  position: relative;
}

.form__checkbox-caption::before {
  content: "";

  position: absolute;
  display: block;

  width: 40px;
  height: 40px;

  background-color: $white;
  border-radius: 3px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border: 2px solid $whisper;
}

.form__checkbox-input[checked] ~ .form__checkbox-caption::after {
  content: "";

  position: absolute;
  top: 40%;
  left: 30px;

  display: block;

  width: 20px;
  height: 10px;

  border: 2px solid $cerise;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

.form__fields--contacts {
  padding-top: 25px;
  padding-bottom: 45px;
}

.form__fields--platform {
  padding-top: 35px;
  padding-bottom: 45px;

  background-color: $white-smoke;
}

.from__radio {
  display: block;
}

.form__radio-caption {
  @include embed-font($sans-regular-family, 18px, 30px, $midnight);
}

.form__fields--report {

  padding-top: 25px;
  padding-bottom: 45px;
}

.form__textarea {
  width: 100%;
  height: 200px;

  min-height: 200px;

  padding: 0;
  margin: 0;

  border: 0;
}

.form__fields--submit {
  padding-bottom: 55px;
}

.form__footer-note {
  @include embed-font($sans-regular-family, 14px, 30px, $midnight);

  text-transform: uppercase;
}

.form__wildcard {

  color: $cerise;
}

@media #{$tablet} {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__fields--full-name {
    order: -20;
  }

  .form__fields--achievements {
    order: -5;
  }

  .form__legend--hidden {
    display: block;
  }

  .form__fields--contacts {
    order: -10;
  }

  .form__fields--platform {
    order: -15;
  }

  .form__fields--submit {
    order: 10;
  }
}

@media #{$desktop} {
  .form {
    width: 940px;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
  }

  .form__fields--full-name {
    width: calc(50% - 35px);
  }

  .form__fields--achievements {
    width: 100%;
  }

  .form__fields--contacts {
    width: 100%;
  }

  .form__fields--platform {
    width: calc(50% - 35px);
  }

  .form__fields--report {
    width: 100%;
  }

  .form__fields--submit {
    width: 100%;
  }
}
