@import "../variables";
@import "../global/mixins";

.google-map {
  height: 219px;
  background: $whisper url(../img/bg-map-mobile@1x.png) center;
  background-size: cover;
}

@media #{$tablet} {
  .google-map {
    height: 380px;
  }
}
