@import "../variables";
@import "../global/mixins";

.intro__text {
  @include embed-font($sans-light-family, 24px, 29px, $midnight);

  margin-top: 0;

  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
