@import "../variables";
@import "../global/mixins";

.navigation {
  position: absolute;
  left: 0;

  width: 100%;

  z-index: 2;
}

@media #{$desktop} {
  .navigation {
    position: static;

  }
}

.navigation--hidden {
  display: none;
}

@media #{$desktop} {
  .navigation--hidden {
    display: block;
  }
}

.navigation__nav {
  margin: 0;
  padding: 0;
}

@media #{$desktop} {
  .navigation__nav {
    display: flex;
  }
}

.navigation__item {
  background-color: $midnight;
  list-style: none;
}

@media #{$desktop} {
  .navigation__item {
    background-color: $transparent;
    margin-right: 40px;
  }

  .navigation__item:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  @include embed-font($sans-bold-family, 18px, 32px, $white);

  display: block;

  padding: 19px 0;

  text-align: center;
  text-decoration: none;
}

@media #{$desktop} {

  .navigation__link {
    padding: auto 25px;

    font-family: $sans-regular-family;
  }
}
