@import "../variables";
@import "../global/mixins";

.navigation {
  position: absolute;
  top: 66px;
  left: 0;

  width: 100%;

  z-index: 2;
}

.navigation--hidden {
  display: none;
}

.navigation__nav {
  margin: 0;
  padding: 0;
}

.navigation__item {
  background-color: $midnight;
  list-style: none;

  box-shadow: inset 0 1px rgba($white,.3);
  border-top: 1px solid $black;
}

.navigation__link {
  @include embed-font($sans-bold-family, 18px, 32px, $white);

  display: block;

  padding: 19px 0;

  text-align: center;
  text-decoration: none;
}

@media #{$tablet} {
  .navigation {
    top: 110px;
  }
}

@media #{$desktop} {
  .navigation {
    position: static;

    width: auto;

    margin-left: auto;
  }

  .navigation--hidden {
    display: block;
  }

  .navigation__nav {
    display: flex;
  }

  .navigation__item {
    background-color: $transparent;
    margin-right: 40px;

    box-shadow: none;
    border-top: none;
  }

  .navigation__item:last-child {
    margin-right: 0;
  }

  .navigation__link {
    padding: 0 25px;

    font-family: $sans-regular-family;
    line-height: 110px;

    vertical-align: middle;
  }
}
