@import "../variables";
@import "../global/mixins";

.page-header {
  position: relative;

  height: 235px;

  background-color: $blue-charcoal;
}

.page-header::before {
  position: absolute;

  right: 0;
  bottom: 0;
  height: 235px;
  top: 0;
  left: 0;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: cover;

  content: "";
}

.page-header__menu {
  background-color: rgba($black, 0.3);

  position: relative;

  min-height: 66px;

  padding: 0 20px;
}

.page-header__menu--form-page,
.page-header__menu--photos-page {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.page-header__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 66px;
}

.page-header__toggle-control {
  background: $transparent;

  padding: 0;

  border: 0;
}

.page-header__toggle-control-img {
  display: block;
}

.page-header--main-page {
  min-height: 730px;
}

.page-header--main-page::before {
  height: 460px;
}

.page-header--main-page::after {

  position: absolute;

  width: 258px;
  height: 286px;
  top: auto;
  bottom: 0;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;

  content: "";
}

.page-header--photos-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header--form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header__container {
  margin: 422px auto 0;
  padding: 0 20px;

  text-align: center;
}

.page-header__link {
  @include embed-font($font-family, 22px, 22px, $white, $bold);

  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__title-container {
  position: relative;

  padding-left: 20px;
  padding-right: 20px;

  z-index: 1;
}

.page-header__title-container--main-page {
  display: none;
}

.page-header__title-container--form-page {
  padding-top: 40px;
}

.page-header__title-main-page {
  display: none;
}

.page-header__title {
  @include embed-font($font-family, 24px, 29px, $white, $lighter);

  margin: 0;

  text-align: center;

  z-index: 1;
}

@media #{$tablet} {
  .page-header {

    height: 440px;
  }

  .page-header::before {
    height: 440px;
  }

  .page-header__menu {
    min-height: 110px;
  }

  .page-header__menu-container {
    min-height: 110px;
  }

  .page-header--main-page {
    min-height: 730px;
  }

  .page-header--main-page::before {
    height: 730px;
  }

  .page-header--main-page::after {
    left: 50%;

    width: 470px;
    height: 543px;

    background-size: 470px 543px;
    transform: translateX(-50%);
  }

  .page-header__title-container {
    padding: 0;
  }

  .page-header__title {
    margin: 0 50px 30px 50px;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__title--main-page {
    font-size: 40px;
    line-height: 48px;
  }

  .page-header__title-container--main-page {
    display: block
  }

  .page-header__group {
    width: 300px;
  }

  .page-header__container {
    position: relative;

    margin-top: 100px;
    padding: 0 20px;

    z-index: 1;
  }
}

@media #{$desktop} {
  .page-header {
    height: 395px;
  }

  .page-header::before {
    height: 395px;
  }

  .page-header__menu {
    padding: 0;
  }

  .page-header__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .page-header__menu-container {
    width: 940px;

    margin: 0 auto;
  }

  .page-header__toggle-control {
    display: none;
  }

  .page-header--main-page {
    min-height: 850px;
  }

  .page-header--main-page::before {
    height: 850px;
  }

  .page-header__container {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
  }
}
