@import "../variables";
@import "../global/mixins";

.page-header {
  height: 235px;

  background-color: $midnight;
}

@media #{$tablet} {
  .page-header {

    height: 440px;
  }
}

@media #{$desktop} {
  .page-header {
    height: 395px;
  }
}

.page-header::before {
  position: absolute;

  right: 0;
  bottom: 0;
  height: 235px;
  top: 0;
  left: 0;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  content: "";
}

@media #{$tablet} {
  .page-header::before {
    height: 440px;
  }
}

@media #{$tablet} {
  .page-header::before {
    height: 395px;
  }
}

.page-header__menu {
  background-color: rgba($black, 0.3);

  position: relative;

  min-height: 66px;
  padding: 0 20px;

}

@media #{$tablet} {
  .page-header__menu {
    min-height: 110px;

    padding: 0 40px;
  }
}

.page-header__toggle-control {
  background: $transparent;

  padding: 0;

  border: 0;
}

@media #{$desktop} {
  .page-header__toggle-control {
    display: none;
  }
}

.page-header__toggle-control-img {
  display: block;
}

.page-header--main-page {
  height: 460px;
}

@media #{$tablet} {
  .page-header--main-page {
    min-height: 730px;
  }
}

@media #{$desktop} {
  .page-header--main-page {
    min-height: 850px;
  }
}

@media #{$tablet} {
  .page-header--main-page::before {
    height: 730px;
  }
}

@media #{$desktop} {
  .page-header--main-page::before {
    height: 850px;
  }
}

.page-header--main-page::after {

  position: absolute;

  width: 258px;
  height: 286px;
  top: 174px;
  left: 50%;

  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;

  transform: translateX(-50%);

  content: "";
}

@media #{$tablet} {
  .page-header--main-page::after {
    height: 545px;
  }
}

.page-header__container {
  margin: 422px auto 0;
  padding: 0 20px;

  text-align: center;
}

@media #{$tablet} {
  .page-header__container {
    position: relative;

    margin-top: 100px;
    padding: 0 40px;

    z-index: 1;
  }
}

@media #{$desktop} {
  .page-header__container {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__link {
  @include embed-font($sans-bold-family, 22px, 22px, $white);

  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__title-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media #{$tablet} {
  .page-header__title-container {
    z-index: 1;
  }
}

;

@media #{$tablet} {
  .page-header__group {
    width: 300px;
  }
}

.page-header__title {
  @include embed-font($sans-light-family, 24px, 29px, $white, normal);

  margin: 0;

  z-index: 1;
}
