@import "../variables";
@import "../global/mixins";

.page-header {
  background-color: rgba($midnight, 1);
}

.page-header__menu {
  background-color: rgba($midnight, .3);

  min-height: 66px;
  padding: 0 20px;

  &::before {
    content: "";
    background-image: url("../../img/bg-back-mobile@1x.jpg");
  }

  &::after {
    content: "";
    background-image: url("../../img/iphone-hand-mobile@1x.png");
  }
}

.page-header__link {
  @include embed-font($sans-bold-family, 22px, 22px, $white);

  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__title-container {
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__title {
  @include embed-font($sans-light-family, 24px, 29px, $white, normal);

  margin: 0;
}
