@import "../variables";
@import "../global/mixins";

.page-footer {
  display: none;

  background-color: $white;
}

@media #{$desktop} {
  .page-footer {
    display: block;
  }
}

.page-footer__container {
  padding-left: 20px;
  padding-right: 20px;
}

@media #{$desktop} {
  .page-footer__container {
    display: flex;
    justify-content: space-between;

    width: 940px;

    margin: 0 auto;
  }
}

.page-footer__link {
  display: block;
}

.page-footer__link-img {
  display: block;
}
