@import "../variables";
@import "../global/mixins";

.page-footer {
  display: block;

  background-color: $white;
}

.page-footer--hidden {
  display: none;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 285px;

  margin: auto;
  padding: 15px 20px;
  box-sizing: border-box;
}

.page-footer__link {
  display: block;
}

.page-footer__link-img {
  display: block;
}

@media #{$tablet} {
  .page-footer {
    display: block;

    min-height: 125px;
  }

  .page-footer__container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 125px;
  }
}

@media #{$desktop} {
  .page-footer__container {
    width: 940px;
    min-height: 190px;

    margin: 0 auto;
    padding: 0;
  }

  .page-footer__container--forms-page {
    min-height: 100px;
  }
}
