@import "../variables";
@import "../global/mixins";

.editor {
  background-color: $white-smoke;
}

.ptoho-editor__container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-editor__link {
  display: block;
}

.photo-editor__image {
  display: block;

  width: 100%;
}
