@import "../variables";
@import "../global/mixins";

.photo-editor {
  background-color: $white-smoke;
}

.photo-editor__container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-editor__link {
  display: block;
}

.photo-editor__image {
  display: block;

  width: 100%;
}

@media #{$tablet} {
  .photo-editor__link {
    width: calc(99.99% * 1 / 2 - (20px - 20px * 1 / 2));
  }

  .photo-editor__container {
    display: flex;
    justify-content: space-between;

    padding: 55px 40px;
  }
}

@media #{$desktop} {
  .photo-editor__container {
    width: 940px;
    margin: 0 auto;

    padding: 55px 60px 55px 80px;
  }

  .photo-editor__link {
    width: calc(99.99% * 1 / 2 - (180px * 1 / 2));
  }
}
