@import "../variables";
@import "../global/mixins";

.pricing-slider {
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: $white-smoke;
}

.pricing-slider__container {
  margin: 0 auto;
}

@media #{$desktop} {
  .pricing-slider__container {
    width: 940px;

    padding-left: 0;
    padding-right: 0;
  }
}

.pricing-slider__mask {
  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;
}

@media #{$tablet} {
  .pricing-slider__mask {

    padding-left: 40px;
    padding-right: 40px;
  }
}

@media #{$desktop} {
  .pricing-slider__mask {
    padding-left: 0;
    padding-right: 0;
  }
}

.pricing-slider__slides {
  width: 300%;
}

@media #{$tablet} {
  .pricing-slider__slides {
    width: 100%;
  }
}

.pricing-slider__slide {
  width: 280px;
}

@media #{$tablet} {
  .pricing-slider__slide {
    width: 25%;
  }
}
