@import "../variables";
@import "../global/mixins";

.pricing-table__cell {
  background-color: $white;
}

.pricing-table__cell--header {
  background-color: $midnight;
}

.pricing-table__cell--transparent {
  background-color: $transparent;
}

.pricing-table__cell--column-header {
  display: none;
}

@media #{$tablet} {
  .pricing-table__cell--column-header {
    display: table-cell;
  }
}

.pricing-table__plan-name {
  @include embed-font($sans-bold-family, 18px, 30px, $white);

  font-weight: normal;

  text-transform: uppercase;
}

.pricing-table__plan-price {
  @include embed-font($sans-regular-family, 24px, 30px, $white);

  font-weight: normal;

  text-transform: uppercase;
}

.pricing-table__option-name {
  @include embed-font($sans-regular-family, 14px, 30px, $midnight);
}
