@import "../variables";
@import "../global/mixins";

.pricing-slider {
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: $white-smoke;
}

.pricing-slider__container {
  margin: 0 auto;
}

.pricing-slider__input {
  display: none;
}

.pricing-slider__mask {
  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;
}

.pricing-slider__slides {

  width: 300%;
  transition-property: margin-left;
  transition-duration: .6s;
}

.pricing-slider__slide {
  width: 280px;
}

.pricing-slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-slider__control {
  display: inline-block;

  width: 6px;
  height: 6px;

  margin-right: 15px;

  background-color: $spindle;
  border: 3px solid $white;
  border-radius: 50%;
  transition-duration: .3s;
}

#pricing-slider__slide-1:checked ~ .pricing-slider__controls [for="pricing-slider__slide-1"],
#pricing-slider__slide-2:checked ~ .pricing-slider__controls [for="pricing-slider__slide-2"],
#pricing-slider__slide-3:checked ~ .pricing-slider__controls [for="pricing-slider__slide-3"]{
  border: 3px solid $midnight;
  background-color: $white-smoke;
}

#pricing-slider__slide-1:checked ~ .pricing-slider__mask .pricing-slider__slides {
  margin-left: 0;
}

#pricing-slider__slide-2:checked ~ .pricing-slider__mask .pricing-slider__slides {
  margin-left: -100%;
}

#pricing-slider__slide-3:checked ~ .pricing-slider__mask .pricing-slider__slides {
  margin-left: -200%;
}

@media #{$tablet} {
  .pricing-slider__slides {
    width: 100%;
  }

  .pricing-slider__controls {
    display: none;
  }

  .pricing-slider__mask {

    padding-left: 40px;
    padding-right: 40px;
  }

  .pricing-slider__slide {
    width: 25%;
  }
}


@media #{$desktop} {
  .pricing-slider__container {
    width: 940px;

    padding-left: 0;
    padding-right: 0;
  }

  .pricing-slider__mask {
    padding-left: 0;
    padding-right: 0;
  }
}
