@import "../variables";
@import "../global/mixins";

.review {
  margin: 0 auto;

  padding: 0 20px 75px 20px;

  background-color: $white;

  box-sizing: border-box;
}

.review::after {
  content: "";
  background-image: url("../../img/bg-triangle-white.svg");
}

.review__input {
  display: none;
}

.review__mask {
  overflow: hidden;
  padding-bottom: 30px;
}

.review__slides {
  display: flex;
  width: 300%;
  transition-property: margin-left;
  transition-duration: .6s;
}

.review__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__control {
  display: inline-block;

  width: 6px;
  height: 6px;

  margin-right: 15px;

  background-color: $spindle;
  border: 3px solid $white;
  border-radius: 50%;
  transition-duration: .3s;
}

#review__slide-1:checked ~ .review__controls [for="review__slide-1"],
#review__slide-2:checked ~ .review__controls [for="review__slide-2"],
#review__slide-3:checked ~ .review__controls [for="review__slide-3"]{
  border: 3px solid $midnight;
  background-color: $white-smoke;
}

#review__slide-1:checked ~ .review__mask .review__slides {
  margin-left: 0;
}

#review__slide-2:checked ~ .review__mask .review__slides {
  margin-left: -100%;
}

#review__slide-3:checked ~ .review__mask .review__slides {
  margin-left: -200%;
}

.review__item {
  width: 100%;

  margin: 0;
}

.review__author {
  @include embed-font($sans-bold-family, 18px, 30px, $black, null, normal);

  display: block;

  padding-bottom: 15px;

  text-align: center;
}

.review__author-info {
  @include embed-font($sans-regular-family, 14px, 30px, $midnight);

  display: none;

  text-align: center;
}

.review__text {
  @include embed-font($sans-regular-family, 14px, 30px, $midnight);

  margin: 0;

  text-align: center;
}

@media #{$tablet} {
  .review {
    padding: 0 40px 65px 40px;
  }

  .review__author-info {
    display: block;
  }

  .review__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .review__text {
    font-size: 18px;
  }

  .review__author {
    font-size: 20px;

    padding-bottom: 5px;
  }

  .review__text {
    order: -1;

    padding-bottom: 35px;
  }
}

@media #{$desktop} {
  .review {
    width: 940px;

    margin-bottom: 90px;
    padding: 0;
  }
}
