@import "../variables";
@import "../global/mixins";

.social {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;

  width: 45px;
  height: 45px;

  border: 3px solid $pattens-blue;
  border-radius: 50%;

  text-align: center;
}

.social__link-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
