@import "../variables";
@import "../global/mixins";

.social {
  display: flex;
  justify-content: space-between;

  width: 180px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: block;

  width: 45px;
  height: 45px;

  border: 3px solid $pattens-blue;
  border-radius: 50%;

  text-align: center;

  fill: $cerise;
}

.social__link:hover {
  border-color: $midnight;
  transition-duration: .3s;
}

.social__link:active {
  fill: rgba($cerise, .3);
  border-color: $pattens-blue;
  transition-duration: .3s;
}

.social__link-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
